extends ./layout/common.pug
block content
    .background-home
        h1 Pro Node JS
        a(href="/users", class="btn btn-danger ml-2") User List
        a.login.mr-4(href='/auth/login') Login
            