extends ../layout/common
block content
    h1.ml-3 Products
    .d-flex
        form.ml-auto(action="/products/search", method="GET", class="d-flex")
            input(type="text" name="q",class="form-control")
            button(class="btn btn-primary ml-2") Search
    .container
        .row
            each product in products
                .col-6.col-lg-3
                    a 
                        img(src= product.image, class="imageProduct w-100")
                    h2= product.name
                    p= product.discription
                    a.btn.btn-primary(href="/cart/add/"+product.id) Add to cart